
@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between text-light">
    <h2 class="d-inline-block">Benvenuto</h2>
    @Html.ActionLink("Accedi", "Index", "Products", null, new { @class = "btn btn-default fw-bold fs-4 text-light p-0" })
</div>
    


